.s-latest {

  &--item,
  &--link {
    color: #6a6a6a;
  }

  &--item {
    list-style: inside decimal;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
