@charset "utf-8";
/**
 * @author: Storm
 * @date: 2021/01/20
 * @email: wenyejie@foxmail.com
 */

.s-header {
  padding-top: 24px;

  &--title {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
  }

  &--subtitle {
    color: #757575;
    font-size: 18px;
    margin-top: 10px;
  }

  &--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--search {
    line-height: 20px;
    margin-right: 15px;

    & > .s-input--inner {

    }
  }
}
