@charset "utf-8";
/**
 * @author: Storm
 * @date: 2021/01/13
 * @email: wenyejie@foxmail.com
 */

.s-input {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &.has-suffix {
    .s-input {
      &--inner {
        padding-right: 2.2em;
      }
    }
  }

  &--icon {
    color: var(--placeholder-color);
  }

  &--inner {
    display: block;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 7px 14px;
    transition: .3s;
    font-size: var(--font-size-major);

    &:hover {
      border-color: var(--placeholder-color);
    }

    &:focus {
      border-color: var(--primary-color);
    }
  }

  &--suffix {
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2em;

    &-icon {
      text-align: center;
    }
  }
}
