.s-form-item {
  margin-bottom: 2em;

  &.in-left,
  &.in-right {
    display: flex;
  }

  &.in-right {
    text-align: right;
  }

  &.is-inline {
    display: inline-block;
    vertical-align: middle;
  }

  &--label + &--content {
    margin-left: .75em;
  }

  &--label {
    line-height: 36px;
  }

  &--content {
    flex: 1;
    position: relative;
  }

  &--message {
    position: absolute;
    color: var(--danger-color);
    font-size: var(--font-size-mini);
    margin-top: .25em;
  }
}
