.s-tag {
  &--list {
    display: flex;
    flex-wrap: wrap;
  }
  &--item::after {
    content: ',';
    margin-right: .5em;
  }

  &--item:last-child::after {
    display: none;
  }

  &--count {
    font-weight: bold;
    padding: 0 2px;
    &::before {
      content: "(";
      font-weight: normal;
    }
    &::after {
      content: ")";
      font-weight: normal;
    }
  }
}
