.s-date {
  display: block;
  width: 300px;
  &--top {
    text-align: center;
    overflow: hidden;

    & > span,
    & > .s-icon {
      line-height: 36px;
      padding: 0 3px;
      cursor: pointer;

      &:hover {
        color: var(--primary-color);
      }
    }

    & > .s-icon {
      padding: 0 12px;
      &-left,
      &-doubleleft {
        float: left;
      }

      &-right,
      &-doubleright {
        float: right;
      }
    }
  }

  &--table {
    width: 100%;
    th,
    td {
      width: 36px;
      height: 36px;
      text-align: center;
      color: var(--minor-color);
    }

    td {
      cursor: pointer;

      & > span {
        border-radius: 50%;
        display: block;
        width: 24px;
        height: 24px;
        margin: 6px auto;
        line-height: 24px;
      }

      &.is-prev,
      &.is-next {
        color: var(--placeholder-color);
      }
      &.is-today > span,
      &.is-current:not(.is-selected):hover > span {
        color: var(--primary-color);
      }
      &.is-today > span {
        font-weight: bold;
      }
      &.is-selected > span {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
  }
}
