.s-button {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  background-color: var(--light-color);
  border: 1px solid var(--border-color);
  color: var(--minor-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.3s;
  font-weight: 500;
  user-select: none;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  font-size: var(--font-size-major);
  line-height: 1;

  & + &:not(.is-block) {
    margin-left: 1em;
  }

  & + &:is(.is-block) {
    margin-top: 1em;
  }

  &:hover, &:focus {
    background-color: #efefef;
    border-color: #E4E7ED;
  }

  &:disabled {
    pointer-events: none;
  }

  &.is-block {
    display: block;
    width: 100%;
  }

  &.is-round {
    border-radius: 18px;
  }

  &.is-loading {
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 1em;
      height: 1em;
      border: 2px solid #999;
      border-bottom-color: #ccc;
      border-radius: 100%;
      animation: rotating 1s linear infinite;
      margin-right: 5px;
      margin-top: -0.1em;
    }

    &::after {
      pointer-events: none;
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: hsla(0, 0%, 100%, 0.35);
    }
  }

  &--large {
    padding: 12px 24px;
    font-size: 16px;
    &.is-round {
      border-radius: 21px;
    }
  }

  &--small {
    padding: 7px 14px;
    &.is-round {
      border-radius: 15px;
    }
  }

  &--mini {
    padding: 5px 10px;
    font-size: 12px;
    &.is-round {
      border-radius: 12px;
    }
  }

  &--primary {
    color: var(--light-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);

    &:focus,
    &:hover {
      background-color: var(--primary-light-color);
      border-color: var(--primary-light-color);
    }
  }

  &--success {
    color: var(--light-color);
    background-color: var(--success-color);
    border-color: var(--success-color);

    &:focus,
    &:hover {
      background-color: var(--success-light-color);
      border-color: var(--success-light-color);
    }

    &.is-plain {
      background-color: #fff;
      color: var(--success-color);

      &:focus,
      &:hover {
        background-color: var(--success-color);
        color: #ffff;
      }
    }
  }

  &--danger {
    color: var(--light-color);
    background-color: var(--danger-color);
    border-color: var(--danger-color);

    &:focus,
    &:hover {
      background-color: var(--danger-light-color);
      border-color: var(--danger-light-color);
    }

    &.is-plain {
      background-color: #fff;
      color: var(--danger-light-color);

      &:focus,
      &:hover {
        background-color: var(--danger-color);
        color: #ffff;
      }
    }
  }

  &--warning {
    color: var(--light-color);
    background-color: var(--warning-color);
    border-color: var(--warning-color);

    &:focus,
    &:hover {
      background-color: var(--warning-light-color);
      border-color: var(--warning-light-color);
    }
  }

  &--info {
    color: var(--light-color);
    background-color: var(--info-color);
    border-color: var(--info-color);

    &:focus,
    &:hover {
      background-color: var(--info-light-color);
      border-color: var(--info-light-color);
      color: var(--light-color);
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
