.s-textarea {
  display: inline-block;

  &--inner {
    display: block;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    width: 100%;
    padding: 7px 14px;
    transition: .3s;
    font-size: var(--font-size-major);

    &:hover {
      border-color: var(--placeholder-color);
    }

    &:focus {
      border-color: var(--primary-color);
    }
  }

  &.is-block {
    display: block;
  }
}
