@charset "utf-8";
/**
 * @author: Storm
 * @date: 2021/01/20
 * @email: wenyejie@foxmail.com
 */

.s-nav {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  line-height: 44px;

  &--list {
    display: flex;
  }

  &--item {
    & + & {
      margin-left: 40px;
    }
  }

  &--link {
    display: block;
    text-transform: uppercase;

    &:hover {
      color: #000;
    }


    &.router-link-exact-active {
      color: #000;
      transform: scale(1.1);
    }
  }

  &--user {

  }
}
