html {

  // 触摸动作, 防止双击
  touch-action: manipulation;
}
body {
  font: 14px/1.4285714285714286 Arial, "Helvetica Neue", Helvetica, "PingFang SC", "PingFangSC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif;
  color: #202020;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #0062FF;
  transition: color .3s ease-in-out;
}
