html {

  // 触摸动作, 防止双击
  touch-action: manipulation;
}
body {
  font: var(--font-size-major)/1.4285714285714286 Arial, "Helvetica Neue", Helvetica, "PingFang SC", "PingFangSC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif;
  color: var(--major-color);
  background-color: #e6e6e6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
  color: var(--placeholder-color);
}

a {
  color: #6a6a6a;
  transition: .3s;

  &:hover {
    color: #0f3647;
  }
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 50px 0 25px;
  text-transform: uppercase;

  &::before {
    content: '#';
    margin-right: 5px;
  }
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  margin: 0 .1em;
}

kbd {
  padding: .2em .4em;
  margin: 0 .1em;
  font-size: 87.5%;
  line-height: 1;
  color: var(--light-color);
  background-color: #212529;
  border-radius: .2rem;
}
