html {

  // 触摸动作, 防止双击
  touch-action: manipulation;
}
body {
  font: 14px/1.4285714285714286 Arial, "Helvetica Neue", Helvetica, "PingFang SC", "PingFangSC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif;
  color: #404040;
  background-color: #e6e6e6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #21759b;
  transition: .3s;

  &:hover {
    color: #0f3647;
  }
}
