.s-datetime {
  width: 300px;
  &--tool {
    text-align: center;
    overflow: hidden;
    line-height: 36px;
    padding: 10px 0;

    span {
      font-weight: 500;
      font-size: var(--font-size-large);
    }

    &--btn,
    & > .s-icon {
      padding: 0 3px;
      cursor: pointer;
      font-weight: normal;

      &:hover {
        color: var(--primary-color);
      }
    }

    & > .s-icon {
      padding: 0 12px;
      &-left,
      &-doubleleft {
        float: left;
      }

      &-right,
      &-doubleright {
        float: right;
      }
    }
  }

  &--body {

  }

  &--table {
    width: 100%;
  }

  &--cell {
    border-top: 1px solid var(--border-color);
  }

  &--list {
    display: flex;
    flex-wrap: wrap;
  }

  &--item {
    width: 25%;
    text-align: center;
    padding: 28px 0;
    cursor: pointer;

    &.is-active,
    &:hover {
      color: var(--primary-color);
    }
    &.is-active {
      font-weight: bold;
    }
  }
}
