@charset "utf-8";
/**
 * @author: Storm
 * @date: 2021/01/13
 * @email: wenyejie@foxmail.com
 */

:root {
  --border-color: #dcdfe6;

  /* primary */
  --primary-color: #409eff;
  --primary-light-color: #66b1ff;

  /* success */
  --success-color: #67C23A;
  --success-light-color: #85ce61;

  /* warning */
  --warning-color: #E6A23C;
  --warning-light-color: #ebb563;

  /* danger */
  --danger-color: #F56C6C;
  --danger-light-color: #f78989;

  /* info */
  --info-color: #909399;
  --info-light-color: #a6a9ad;


  /* placeholder */
  --placeholder-color: #c0c4cc;

  /* border-radius */
  --border-radius: 4px;

  /* font-size-default */
  --font-size-major: 14px;
}
