.s-dialog {
  width: 420px;
  position: fixed;
  z-index: 2001;
  transition: all .3s ease-out;

  &--content {
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    border-radius: var(--border-radius);
    background-color: #fff;
    transition: all .3s ease-out;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;

    .s-dialog--content {
      transform: scale(1.1);
    }
  }

  &.in-center {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  &--title {
    font-size: 18px;
    line-height: 1;
    padding: 15px;
  }

  &--body {
    padding: 0 15px;
    color: var(--minor-color);
  }
  &--footer {
    padding: 15px;
    text-align: right;
  }
  &--close {
    font-size: 18px;
    position: absolute;
    z-index: 1;
    color: #999;
    right: 10px;
    padding: 0 5px;
    top: 16px;
    line-height: 1;
  }
}
