@charset "utf-8";
/**
 * @author: Storm
 * @date: 2021/01/20
 * @email: wenyejie@foxmail.com
 */

.s-header {
  padding: 24px 0;

  &--title {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    visibility: hidden;
  }

  &--subtitle {
    color: #757575;
    font-size: 18px;
    margin-top: 10px;
    visibility: hidden;
  }
}
