.s-chosen {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &--label {
    position: absolute;

    & + .s-chosen--input-wrap {
      opacity: 0;
    }
  }

  &.is-multiple {
    .s-chosen {
      &--input {
        height: 28px;
        padding-left: 7px;
      }
      &--tag + .s-chosen--input-wrap {
        width: 0;
      }
      &--view {
        width: 176px;
        max-width: 100%;
        padding: 3px 36px 3px 0;
      }
    }
  }

  &.is-selected:not(.is-multiple) {
    .s-chosen {
      &--input {
        &::placeholder {
          color: var(--major-color);
          transition: .3s;
        }
        &:focus::placeholder {
          color: var(--placeholder-color);
        }
      }
    }
  }

  &--view {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: #fff
      url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA1klEQVQ4T92TMW7CQBBF//cNcooUaeAUSKSI0nIMCmbtSLQe+wJpI2gAiRMgECgp0uQaXAJZP1oJI0gMBXRsObvv7ejPLnHj4o087kng7htJ/TRNfy7lUhTFo6SpmbVJ6pBBnuevAD6SJOmY2XeTZA9/ARiGEN7jmZMQ95KRpG6WZZ/HEnd/ArA+hv8JYiFKSI5JvpjZMtbKsmxVVbUi+VbfXMsbx+juz5JmJHuStiQXANK/cGMHtTlKAMwl7UgOmuCLgrjp7h0ADyGEybnJ3NNLvPZX/gLXzFERrIKwMwAAAABJRU5ErkJggg==')
      no-repeat right 11px center;
    padding: 7px 36px 7px 7px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      border-color: var(--placeholder-color);
    }
  }

  &--input {
    display: block;
    background: 0 0;
    border: none;
    outline: none;
    cursor: auto;
    width: 100%;
    font-size: var(--font-size-major);
    &:read-only {
      cursor: pointer;
    }

    &--wrap {
      max-width: 100%;
    }
  }

  &--close {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding-left: 3px;
    &:hover {
      color: #000;
    }
  }

  &--tag {
    height: 24px;
    padding: 0 8px;
    line-height: 22px;
    background-color: #f4f4f5;
    color: #909399;
    border: 1px solid #e9e9eb;
    border-radius: 4px;
    margin: 2px 0 2px 6px;
    cursor: default;
  }

  &--list {
    position: absolute;
    z-index: 1;
    width: 100%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: var(--border-radius);
    margin-top: 10px;
    border: 1px solid var(--border-color);
    transition: all 0.3s ease;

    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translateY(5%) scale(0.95);
    }

    &::after,
    &::before {
      content: '';
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      position: absolute;
      left: 20%;
    }

    &::after {
      filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.1));
      border-bottom: 6px solid #fff;
      top: -5px;
    }

    &::before {
      top: -6px;
      border-bottom: 6px solid var(--border-color);
    }
  }
}
