.s-chosen-item {
  padding: 6.5px 12px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background-color: var(--info-bgc);
  }

  &.is-disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  &.is-disabled {
    color: var(--disabled-color);
  }

  &.is-active {
    color: var(--primary-color);
  }
}
